@model AttributeRoutingDemo.Models.Student


<table class="table">
    <tr>
        <td>
            @Model.Id
        </td>

        <td>
            @Model.Name
        </td>

    </tr>




</table>
